In [2]:
import os # OS e.g directory structure
import numpy as np # linear algebra
import scipy as sc  # scientific computing
import pandas as pd # data processing, file I/O
import seaborn as sns  # visualization
import matplotlib.pyplot as plt # visualization
import warnings
warnings.filterwarnings("ignore")

In [3]:

import sys

from pyspark.sql import SparkSession
from pyspark.sql import Row
from pyspark.sql.functions import *
from pyspark.sql.types import *

In [4]:

! ls -la
! head -n 3 library-collection-inventory.csv

total 22983768
drwxr-xr-x  5 macbookpro  staff          160 16 Mai 09:02 .
drwxr-xr-x  6 macbookpro  staff          192  6 Mai 14:27 ..
drwxr-xr-x  3 macbookpro  staff           96  7 Mai 00:31 .ipynb_checkpoints
-rw-r--r--  1 macbookpro  staff        17547 16 Mai 09:02 TP_BIG_DATA.ipynb
-rw-rw-r--@ 1 macbookpro  staff  11764863851  1 Dez  2019 library-collection-inventory.csv
BibNum,Title,Author,ISBN,PublicationYear,Publisher,Subjects,ItemType,ItemCollection,FloatingItem,ItemLocation,ReportDate,ItemCount
3011076,"A tale of two friends / adapted by Ellie O'Ryan ; illustrated by Tom Caulfield, Frederick Gardner, Megan Petasky, and Allen Tam.","O'Ryan, Ellie","1481425730, 1481425749, 9781481425735, 9781481425742",2014.,"Simon Spotlight,","Musicians Fiction, Bullfighters Fiction, Best friends Fiction, Friendship Fiction, Adventure and adventurers Fiction",jcbk,ncrdr,Floating,qna,2017-09-01T00:00:00.000,1
2248846,"Naruto. Vol. 1, Uzumaki Naruto / story and art by Masashi Kishimoto ; [English adaptation by Jo Duffy].","Kishimoto, Masashi, 1974-",1569319006,"2003, c1999.","Viz,","Ninja Japan Comic books strips etc, Comic books strips etc Japan Translations into English, Graphic novels",acbk,nycomic,NA,lcy,2017-09-01T00:00:00.000,1

In [5]:
from pyspark.sql.types import StructField, StructType, StringType, IntegerType, TimestampType, DoubleType

fire_schema = StructType([StructField("BibNum", IntegerType(),True),
                             StructField("Title", StringType(),True),
                             StructField("Author", StringType(),True),
                             StructField("ISBN", IntegerType(),True),
                             StructField("PublicationYear", IntegerType(),True),
                             StructField("Publisher", StringType(),True),
                             StructField("Subjects", StringType(),True),
                             StructField("ItemType", StringType(),True),
                             StructField("ItemCollection", StringType(),True),
                             StructField("FloatingItem", StringType(),True),
                             StructField("ItemLocation", StringType(),True),
                             StructField("ReportDate", TimestampType(),True),
                             StructField("ItemCount", IntegerType(),True)
                            ])

In [6]:


df = spark.read.csv('library-collection-inventory.csv',header=True, schema=fire_schema, sep=",")

### Exploratory data analysis

In [7]:
df.printSchema()
cols = df.columns
df.count()

root
 |-- BibNum: integer (nullable = true)
 |-- Title: string (nullable = true)
 |-- Author: string (nullable = true)
 |-- ISBN: integer (nullable = true)
 |-- PublicationYear: integer (nullable = true)
 |-- Publisher: string (nullable = true)
 |-- Subjects: string (nullable = true)
 |-- ItemType: string (nullable = true)
 |-- ItemCollection: string (nullable = true)
 |-- FloatingItem: string (nullable = true)
 |-- ItemLocation: string (nullable = true)
 |-- ReportDate: timestamp (nullable = true)
 |-- ItemCount: integer (nullable = true)

35531308

# Data cleaning

In [8]:
df_1 = df.dropna(subset=["Author","Publisher"])

In [12]:
df_1.select("Author","ItemLocation","ISBN","PublicationYear","Title","ReportDate").count()

29943970

In [13]:
max_row =10000

df_clean = df_1.limit(max_row)

df_clean.count()

10000

In [26]:
df_clean.show()

df_clean.createOrReplaceTempView("library")

+-------+--------------------+--------------------+----------+---------------+--------------------+--------------------+--------+--------------+------------+------------+-------------------+---------+
| BibNum|               Title|              Author|      ISBN|PublicationYear|           Publisher|            Subjects|ItemType|ItemCollection|FloatingItem|ItemLocation|         ReportDate|ItemCount|
+-------+--------------------+--------------------+----------+---------------+--------------------+--------------------+--------+--------------+------------+------------+-------------------+---------+
|1898806|Paul Rand / Steve...|      Heller, Steven| 714837989|           1999|            Phaidon,|Rand Paul 1914 19...|    arbk|          cs8r|          NA|         cen|2017-09-01 00:00:00|        1|
| 397637|The case against ...|  Priestland, Gerald|   2151421|           1984|            Collins,|           God Proof|    acbk|          canf|          NA|         cen|2017-09-01 00:00:00|        1|
|1931992|Wilma Rudolph / b...|   Sherrow, Victoria|1575052466|           2000|   Carolrhoda Books,|Rudolph Wilma 194...|    jcbk|          ncnf|          NA|         gwd|2017-09-01 00:00:00|        1|
|1588441|Germany, Hitler, ...|Weinberg, Gerhard L.| 521474078|           1995|Cambridge Univers...|Hitler Adolf 1889...|    acbk|          canf|          NA|         cen|2017-09-01 00:00:00|        1|
|1738648|The roaring girl ...|Middleton, Thomas...| 719016304|           1987|Manchester Univer...|Cutpurse Moll 158...|    acbk|          canf|          NA|         cen|2017-09-01 00:00:00|        1|
|2002669|Life in a tidepoo...|     Halfmann, Janet|1583410767|           2001| Creative Education,|Tide pool animals...|    jcbk|          ncnf|          NA|         wts|2017-09-01 00:00:00|        1|
|1974714|Vanity rules : a ...|    Hoobler, Dorothy| 761312587|           2000|    Millbrook Press,|Costume United St...|    jcbk|          ncnf|          NA|         net|2017-09-01 00:00:00|        1|
|1925107|On Ibsen / James ...|Joyce, James, 188...|1557133727|           1999|      Green Integer,|Ibsen Henrik 1828...|    acbk|          canf|          NA|         cen|2017-09-01 00:00:00|        1|
|1974714|Vanity rules : a ...|    Hoobler, Dorothy| 761312587|           2000|    Millbrook Press,|Costume United St...|    jcbk|          ccnf|          NA|         cen|2017-09-01 00:00:00|        1|
| 614784|Futures Trading P...|United States. Co...| 160356997|           1991|U.S. G.P.O. : For...|United States Com...|    acbk|          canf|          NA|         cen|2017-09-01 00:00:00|        1|
| 477879|Spray it loud / J...|       Posener, Jill| 863581005|           1982|Pandora ; Routled...|    Graffiti England|    acbk|          canf|          NA|         cen|2017-09-01 00:00:00|        1|
|1998734|Design and detail...|       Guild, Tricia|1850298017|           1988|Conran Octopus ; ...|Interior decorati...|    acbk|          canf|          NA|         cen|2017-09-01 00:00:00|        1|
|1901766|The complete serg...|James, Chris (Chr...| 806998075|           1997|Sterling ; distri...|Serging, Sewing m...|    acbk|          nanf|          NA|         cap|2017-09-01 00:00:00|        1|
|1693595|Fireman Small / [...|   Yee, Wong Herbert| 395689872|           1994|   Houghton Mifflin,|Fire fighters Juv...|    jcbk|         ccpic|          NA|         cen|2017-09-01 00:00:00|        1|
|2295030|My name is Stilto...|   Stilton, Geronimo| 439691427|           2005|   Scholastic, Inc.,|Stilton Geronimo ...|    jcbk|         ncser|          NA|         nga|2017-09-01 00:00:00|        1|
|2285241|The letters of Ab...|Abelard, Peter, 1...| 140448993|           2003|            Penguin,|Theologians Franc...|    acbk|          nanf|          NA|         lcy|2017-09-01 00:00:00|        1|
| 107244|Josquin des Prez ...|International Jos...| 193152290|           1976|Oxford University...|Josquin des Prez ...|    acbk|          canf|          NA|         cen|2017-09-01 00:00:00|        1|
|1385955|Build a doll's ho...|       Morse, Michal| 890241880|           1992|     Kalmbach Books,|          Dollhouses|    acbk|          canf|          NA|         cen|2017-09-01 00:00:00|        2|
|2042808|Extra virgin : co...|     Ferguson, Clare|1841720887|           2000|Ryland Peters & S...|Olive oil, Cookin...|    acbk|          canf|          NA|         cen|2017-09-01 00:00:00|        1|
|1376096|Hazardous materia...|United States. Co...| 160446783|           1994|U.S. G.P.O. : For...|Hazardous substan...|    acbk|          canf|          NA|         cen|2017-09-01 00:00:00|        1|
+-------+--------------------+--------------------+----------+---------------+--------------------+--------------------+--------+--------------+------------+------------+-------------------+---------+
only showing top 20 rows

In [ ]:
sql = spark.sql("""
                 select Author, ISBN
                from library 
                where 
               
               """
               )

In [20]:
col_to_drop = ['ItemCount','FloatingItem','BibNum','ReportDate']

In [23]:
cols_feactures = [c for c in cols if c not in col_to_drop]
col_interesting = ['ISBN','PublicationYear']

In [ ]:
df_clean.write.format("parquet").mode("overwrite")\
                .save("library-file.parquet")

In [ ]:
! ls -la

In [25]:
from pyspark.ml.stat import Correlation
from pyspark.ml.feature import VectorAssembler

# Correlation requires vectors so prior we convert to vector column

vector_col = "corr_features"
assembler = VectorAssembler(inputCols=col_interesting, outputCol=vector_col)
df_vector = assembler.transform(df_clean).select(vector_col)

# get correlation matrix

matrix = Correlation.corr(df_vector, vector_col).collect()[0][0]
corrmatrix = matrix.toArray().tolist()
# corrmatrix
corrmatrix

[[1.0, 0.12758359452724763], [0.12758359452724763, 1.0]]